<div class="container" id="content">
	<div class="row">
		<div class="large-8 large-centered small-12 small-centered columns">
			<img alt="Anaïs Romand" src="img/anais.png" class="img-circle" width="10px" height="10px;" />
			<h2>Anaïs Romand, 22 ans, Reims</h2>
			<h3>Recherche un poste d'intégrateur/infographiste</h3>
		</div>
		
		<div class="large-8 large-centered small-12 small-centered columns">
			<p>Passionnée par le monde de la retouche depuis plusieurs années, 
			j'ai découvert l'univers du web et plus généralement celui de l'infographie, 
			grâce à mes études en DUT Services et Réseaux de Communication à l'IUT de Troyes.
			J'ai poursuivit mes études en licence professionnelle Métiers de l'Internet et du Multimédia en 
			décrochant un contrat de professionnalisation au sein du Crédit Agricole du Nord Est en qualité de Webmaster et Infographiste.<br />
			Je suis actuellement à la recherche d'un poste d'intégrateur et/ou d'infographiste sur Reims et aux alentours, n'hésitez pas à me
			<a href="mailto:contact@anaisromand.com">contacter</a> pour plus de renseignements !<br />
			</p>

			<p>
				<a href="cv_092014.pdf" target="_blank"><span class="small-2 small-offset-4 medium-offset-5 small-centered columns bouton">Mon CV</span></a><br />
			</p>

			<p>Vous pouvez également me retrouver sur les réseaux professionnels
				<a href="http://www.linkedin.com/in/anaisromand" target="_blank">Linkedin</a> & 
				<a href="http://www.viadeo.com/profile/002y0fohfmypko8/" target="_blank">Viadeo</a>,<br /> ainsi que sur 
				<a href="http://www.pinterest.com/anaisromand/" target="_blank">Pinterest</a> & sur 
				<a href="https://dribbble.com/anaisromand" target="_blank">Dribbble</a>.
			</p>
		</div>
			
	</div>
</div>