<div class="container" id="content">
    <div class="row">
        <div class="large-12 columns">
            <h2>Affiches</h2>

            <ul class="large-block-grid-2" id="affiche95">
                <li>
                    <img src="img/affiche/grandes/caxcarto1.jpg" class="th"
                         alt="Affiche mettant en avant le partenariat entre le Crédit Agricole du Nord Est et de la Cartonnerie"/>
                </li>
                <p>Cette affiche mets en avant les avantages du partenariat entre le Crédit Agricole du Nord Est et la Cartonnerie.
                Afin de respecter l'identité graphique que souhaitait la Cartonnerie, l'affiche a dû être réalisée en niveaux de gris. 
                Il a donc fallut jouer avec les typographies, les contrastes ainsi que les éléments graphiques afin de rendre 
                cette dernière attractive.<br />
                Vous pouvez retrouver cette affiche dans les programmes de la Cartonnerie.</p>
                <li>   
                    <img src="img/affiche/grandes/caxcarto.png" class="th"
                         alt="Affiche mettant en avant le partenariat entre le Crédit Agricole du Nord Est et de la Cartonnerie"/>
                </li>          
            </ul>

           <ul class="large-block-grid-2" id="affiche96">
                <li>
                    <img src="img/affiche/grandes/capocket.png" class="th" alt="Affiche promotionelle pour CA Pocket Nord Est"/>
                </li>
                <p>Réalisation d'une affiche A3 diffusée dans toute les caisses régionnale du Crédit Agricole du Nord Est (Aisne, Ardenne, Marne)
                pour annoncer l'arrivée de notre nouvelle application "CA Pocket Nord Est" et ainsi permettre à nos collaborateurs de contribuer à la 
                réussite et à la diffusion de cette dernière. Pour la réaliser, j'ai repris un bleu "Crédit Agricole", l'animation avec 
                les pointillés lorsque l'on démarre l'application, et pour finir j’ai souhaité faire un jeu de mot entre le nom de 
                l'application "CA Pocket Nord Est" (pocket signifie poche en français) et l'image utilisée pour l'affiche. Afin de facilité 
                le téléchargement aux utilisateurs, des QR-codes sont présent.</p>
            </ul>

            <ul class="large-block-grid-2" id="affiche97">
                <li>
                    <img src="img/affiche/grandes/photobooth.png" class="th" alt="Photobooth"/>
                </li>
                <p>Réalisation d'une newsletter pour annoncer une nouveauté au Studio Photo Espace Urbain : le Photobooth. <br />
                Le principe ? Le Studio Photo se déplace chez vous pour réalisez des photos uniques et originales 
                durant vos soirées ou évènements !</p>
            </ul>

            <ul class="large-block-grid-2" id="affiche98">
                <li>
                    <img src="img/affiche/grandes/pac.png" class="th" alt="Pratiques Artistiques et Culturelles"/>
                </li>
                <p>Affiche réalisée pour la soirée des Pratiques Artistiques et Culturelles à l'IUT de Troyes.</p>
            </ul>

            <!-- <ul class="large-block-grid-1" id="affiche99">
                <li>
                    <img src="img/affiche/grandes/himym.png" class="th" alt="How I meet your mother"/>
                </li>
                <p>Réalisation d'une jacquette DVD de la série How I meet your mother détournée en How I meet your father
                (création réalisée pour un projet durant mon DUT SRC).</p>
            </ul> -->

        </div>
    </div>
</div>