<div class="container" id="content">
	<div class="row">
		<div class="large-12 columns affiche">
			<h2>Affiches</h2>
				<ul class="small-block-grid-2 medium-block-grid-3 large-block-grid-4">
					<li>
						<a href="affiche.html#affiche96" title="Affiche promotionelle pour CA Pocket Nord Est">
							<img src="img/infographie/affiche/petite/capocket.png" alt="Affiche promotionelle pour CA Pocket Nord Est" class="th" />
						</a>
					</li>
					<li>
						<a href="affiche.html#affiche97" title="Affiche promotionelle pour Facebook">
							<img src="img/infographie/affiche/petite/photobooth.png" alt="Affiche promotionelle pour Facebook" class="th" />
						</a>
					</li>
					<li>
						<a href="affiche.html#affiche98" title="Affiche PAC">
							<img src="img/infographie/affiche/petite/p6.png" alt="Affiche PAC" class="th" />
						</a>
					</li>

					<!-- <li>
						<a href="affiche.html#affiche99">
							<img src="img/infographie/petite/p1.png" alt="How I met your father" class="th" />
						</a>
					</li> -->
				</ul>
		</div>
	</div><!-- ROW 	-->
		
	<div class="row">
		<div class="large-12 columns logotype">
			<h2>Logotypes</h2>
			
				<ul class="small-block-grid-2 medium-block-grid-3 large-block-grid-4">
					<!-- <li>
						<a href="logotype.html#logo96" title="Logo Taxi Thierry Romand">
							<img src="img/infographie/logo/petite/tromand.png" alt="Logo Taxi Thierry Romand" class="th"/>
						</a>
					</li> -->
					<li>
						<a href="logotype.html#logo97" title="Logo pour Troyes Point Zéro">
							<img src="img/infographie/logo/petite/tpz.png" alt="Logo Troyes Point Zéro" class="th"/>
						</a>
					</li>
					<li>
						<a href="logotype.html#logo98" title="Logo métro de Troyes (fictif)">
							<img src="img/infographie/logo/petite/metro.png" alt="Logo métro de Troyes (fictif)" class="th"/>
						</a>
					</li>
					<li>
						<a href="logotype.html#logo99" title="Reproduction 3D de la triforce">
							<img src="img/infographie/logo/petite/zelda.png" alt="Reproduction 3D de la triforce" class="th"/>
						</a>
					</li>
				</ul>

		</div>			
	</div><!-- ROW -->

	<!-- Retouche photos -->
	<div class="row">
		<div class="large-12 columns rphoto">
			<h2>Retouches Photos</h2>
			
			<ul class="small-block-grid-2 medium-block-grid-3 large-block-grid-4">
					<li>
						<a href="retouche.html#perso96" title="Réalisation personnelle">
							<img src="img/infographie/retouche/petite/p2.png" alt="Réalisation personnelle" class="th"/>
						</a>
					</li>
					<li>
						<a href="retouche.html#perso97" title="Photo d'agence">
							<img src="img/infographie/retouche/petite/p3.png" alt="Photo d'agence" class="th"/>
						</a>
					</li>
					<li>
						<a href="/retouche#perso98" title="Visuel Carambar">
							<img src="img/infographie/retouche/petite/p4.png" alt="Visuel Carambar" class="th"/>
						</a>
					</li>

               		<li>
						<a href="retouche.html#perso99" title="Retouche personnelle">
							<img src="img/infographie/retouche/petite/p5.png" alt="Retouche personnelle" class="th"/>
						</a>
           			</li>
     
					<!-- RETOUCHES ESPACE URBAIN -->
					<li>
						<a href="retouche.html#eu1" title="Retouche faite pour Espace Urbain">
							<img src="img/infographie/retouche/petite/ventre.png" alt="Retouche faite pour Espace Urbain" class="th"/>
						</a>
					</li>
					<li>
						<a href="retouche.html#eu2" title="Retouche faite pour Espace Urbain">
							<img src="img/infographie/retouche/petite/enfant.png" alt="Retouche faite pour Espace Urbain" class="th"/>
						</a>
					</li>
					<li>
						<a href="retouche.html#eu3" title="Retouche faite pour Espace Urbain">
							<img src="img/infographie/retouche/petite/bebe.png" alt="Retouche faite pour Espace Urbain" class="th"/>
						</a>
					</li>

			</ul>
		</div>	
	</div><!-- ROW -->
</div>