<div class="container" id="content">
    <div class="row">
        <div class="large-12 columns">
            <h2>Logotypes</h2>
           <!--  <p>Demonstrates basic usage of the plugin.</p> -->

           <!--  <ul class="large-block-grid-2" id="logo2">
                <li>
                    <img src="img/logo/grandes/tpz.png" class="th" alt="Logo pour Troyes Point Zéro" />
                </li>
                <p>Proposition d'un logo pour la jeune entreprise Troyes Point Zéro.</p>
            </ul> -->

           <ul class="large-block-grid-2" id="logo97">
                <li>
                    <img src="img/logo/grandes/tpz.png" class="th" alt="Logo pour Troyes Point Zéro" />
                </li>
                <p>Proposition d'un logo pour la junior entreprise Troyes Point Zéro. Cette junior entreprise a été créée durant le
                cadre de mes études en licence MIM.<br />
                La ville de Troyes possède un centre ville en forme de bouchon de champagne, c'est pourquoi j'ai choisi de
                réutiliser cette particularité dans mon logo.<br />
                La typographie sélectionnée fait ressortir les trois «O» faisant ainsi référence au nom de la junior entreprise.</p>
                <li>
                    <img src="img/bouchon_troyes.png" class="th" alt="Le bouchon de champagne — Troyes" height="100px" />
                </li>
            </ul>

            <ul class="large-block-grid-2" id="logo98">
                <li>
                    <img src="img/logo/grandes/metro.png" class="th" alt="Logo du métro de Troyes" />
                </li>
                <p>Réalisation d'un logo pour le métro de Troyes (création réalisée pour un projet durant mon DUT SRC).</p>
            </ul>

            <ul class="large-block-grid-2" id="logo99">
                <li>
                    <img src="img/logo/grandes/zelda.png" class="th" alt="Triforce de Zelda" />
                </li>
                <p>Reproduction en 3D du logo de "The legend of Zelda".</p>
            </ul>

        </div>
    </div>
</div>