<div class="container" id="content">
    <div class="row">
        <div class="large-12 columns">
            <h2>Retouches personnelles</h2>

	            <div class="twentytwenty-container" id="perso96">
	                <img src="img/infographie/retouche/grande/arcenciel.png" alt="retouche personnelles"/>
	                <img src="img/infographie/retouche/grande/arcenciel2.png" alt="retouche personnelles"/>
	            </div>

	            <div class="twentytwenty-container" id="perso97">
	                <img src="img/infographie/retouche/grande/agence.png" alt="retouche personnelles"/>
	                <img src="img/infographie/retouche/grande/agence2.png" alt="retouche personnelles"/>
	            </div>

	            <div class="twentytwenty-container" id="perso98">
	                <img src="img/infographie/retouche/grande/playmobil.png" alt="retouche personnelles"/>
	                <img src="img/infographie/retouche/grande/playmobil2.png" alt="retouche personnelles"/>
	            </div>
        </div>

        <div class="large-6 medium-6 columns">
	            <div class="twentytwenty-container" id="perso99">
	                <img src="img/infographie/retouche/grande/jo.png" data-orientation="vertical" alt="retouche personnelles"/>
	                <img src="img/infographie/retouche/grande/jo2.png" data-orientation="vertical" alt="retouche personnelles"/>
	            </div>
        </div>
    </div>


    <div class="row">
        <div class="large-12 columns">
            <h2>Retouches pour le studio <a href="http://www.espaceurbain.com/">Espace Urbain</a></h2>

	            <div class="large-6 medium-6 columns">
	                <div class="twentytwenty-container" id="eu1">
	                    <img src="img/infographie/retouche/grande/ventre.png" data-orientation="vertical" alt="retouche pour Espace Urbain"/>
	                    <img src="img/infographie/retouche/grande/ventre2.png" data-orientation="vertical" alt="retouche pour Espace Urbain"/>
	                </div>
	            </div>

	            <div class="large-6 medium-6 columns">
	                <div class="twentytwenty-container" id="eu2">
	                    <img src="img/infographie/retouche/grande/enfant.png" data-orientation="vertical" alt="retouche pour Espace Urbain"/>
	                    <img src="img/infographie/retouche/grande/enfant2.png" data-orientation="vertical" alt="retouche pour Espace Urbain"/>
	                </div>
	            </div>

	            <div class="large-12 columns">
	                <div class="twentytwenty-container"  id="eu3">
	                    <img src="img/infographie/retouche/grande/bebe.png" alt="retouche pour Espace Urbain"/>
	                    <img src="img/infographie/retouche/grande/bebe2.png" alt="retouche pour Espace Urbain"/>
	                </div>
	            </div>
        </div>
    </div>
</div>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
<script src="js/jquery.event.move.js"></script>
<script src="js/jquery.twentytwenty.js"></script>
<script>
    $(window).load(function(){
        $(".twentytwenty-container[data-orientation!='vertical']").twentytwenty({default_offset_pct: 0.7});
        $(".twentytwenty-container[data-orientation='vertical']").twentytwenty({default_offset_pct: 0.3, orientation: 'vertical'});
    });
</script>