<div class="container" id="content">
	<div class="row">
		<div class="large-12 columns">
			<h2>Webdesign</h2>
				
				<ul class="small-block-grid-2 medium-block-grid-3 large-block-grid-4">
					<li>
						<a href="webdesign.html#wd96">
							<img src="img/web/petites/campus3.png" alt="Campus3" class="th" />
						</a>
					</li>
					<li>
						<a href="webdesign.html#wd97">
							<img src="img/web/petites/cours_toques.png" alt="Cours des Toqués" class="th" />
						</a>
					</li>
					<li>
						<a href="webdesign.html#wd98">
							<img src="img/web/petites/location_studio.png" alt="Location du studio photo Espace Urbain" class="th" />
						</a>
					</li>

					<li>
						<a href="webdesign.html#wd99">
							<img src="img/web/petites/icare_accueil.png" alt="Association ICARE	" class="th" />
						</a>
					</li>
				</ul>
		</div>
	</div><!-- ROW 	-->	

	<div class="row">
		<div class="large-12 columns">
			<h2>Refonte de site web</h2>
			
				<ul class="small-block-grid-2 medium-block-grid-3 large-block-grid-4">
					<li>
						<a href="http://www.allo-suippes-taxi.fr" target="_blank">
							<img src="img/web/petites/1.png" alt="Allo Suippes Taxi" class="th" />
						</a>
					</li>
				
					<li>
						<a href="http://www.taxi-de-saint-memmie.fr" target="_blank">
							<img src="img/web/petites/2.png" alt="Taxi de Saint-Memmie" class="th" />
						</a>
					</li>
				</ul>
		</div>	

	</div><!-- ROW -->
</div>