<div class="container" id="content">
    <div class="row">
        <div class="large-12 columns">
            <h2>Webdesign</h2>
            
            <ul class="large-block-grid-2 wd" id="wd96">
                <li>
                    <img src="img/web/grandes/campus3.png" class="th"/>
                </li>
                <p>L'association étudiante Campus3 à fait appel à notre junior entreprise Troyes Point Zéro (Junior entreprise créée durant mon année
                de licence MIM) pour créer un webdesign. Le cahier des charges nous imposait de reprendre les couleurs du logo qui sont le jaune et
                le bleu.</p>
            </ul>
            
            <ul class="large-block-grid-2 wd" id="wd97">
                <li>
                    <img src="img/web/grandes/cours_toques.png" class="th"/>
                </li>
                <p>Réalisation d'un webdesign pour un site nommée "les cours des toqués" lors de mes cours en Licence Professionnelle.</p>
            </ul>

            <ul class="large-block-grid-2 wd" id="wd98">
                <li>
                    <a href="http://espaceurbain.com/location-studio-photo/" target="_blank">
                        <img src="img/web/grandes/location_studio.png" class="th"/>
                    </a>
                </li>
                <p>Réalisation d'un webdesign destiné à promouvoir la possibilité de location du Studio Photo Espace Urbain.
                Ce webdesign à été crée durant mon stage au sein de leur studio à Montréal. <br />
                    <a href="http://espaceurbain.com/location-studio-photo/" target="_blank">Voir le site.</a>
                </p>
            </ul>


            <ul class="large-block-grid-2 wd" id="wd99">
                <li>
                    <a href="http://www.icaresuippes.fr" target="_blank">
                        <img src="img/web/grandes/icare_accueil.png" class="th"/>
                    </a>
                </li>
                <p>Réalisation d'un webdesign pour l'association ICARE. Ce site vise à promouvoir les artisans de Suippes et de ses alentours
                faisant parti de l'association ainsi que leur différents évènements notamment la Foire de Suippes.<br />
                    <a href="http://www.icaresuippes.fr" target="_blank">Voir le site.</a>
                </p>
            </ul>

        </div>
    </div>
</div>